@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins';

}

body {
    font-family: 'poppins';
}

#navbar img {
    width: 200px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: 20px;
    font-family: 'Poppins';
}

#navbar ul {
    list-style: none;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#tittle {
    background-image: url(../images/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

}

#tittle h1 {
    font-size: 60px;
    padding-bottom: 20px;
    font-weight: 900;
}

#offers {
    text-align: center;
}

#offers #heading {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
    display: inline-block;
    border-bottom: 3px solid #00B172;
    ;
}

.icons img {
    width: 100px;
}

.icons {
    width: 230px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icons h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #00B172;
}

footer {
    padding: 70px 70px;
    background-color: #00B172;
    color: white;
    height: 650px;
}

footer img {
    width: 350px;

}

#flexFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .footerIcons {
    width: 350px;
    text-align: center;
}

footer #spotifyIcon {
    width: 120px;



}

#flexFooterIconsS {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#flexFooterIconsS>div {
    width: 350px;
    padding-bottom: 20px;
}

#footerHeading {
    border-bottom: 3px solid white;
    display: inline-block;
    letter-spacing: 2px;
    font-size: 30px;
    padding-bottom: 0;

}

footer h4 {
    border-bottom: none;
    padding-bottom: 40px;
    font-size: 25px;
}

footer p {
    font-size: 20px;
    width: 330px;
    padding-bottom: 40px;

}





#flexFooter #firstIconFooter h4 {
    padding-top: 40px;
    padding-bottom: 40px;

}

.footerIconImg {
    align-self: center;
}